/* Reset */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Color palette */
:root {
    --green: #4bc800;
    --black:#222222;
    --red: #e0252c;
    --grey: #4a4a4a;
}


.videocall {
    width: 100vw;
    height: 90vh;
    background-color: var(--black);
}

.call-bts {
    width: 100vw;
    height: 10vh;
    background-color: var(--grey);
}