/* Reset */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Color palette */
:root {
    --green: #4bc800;
    --black:#222222;
    --red: #e0252c;
    --grey: #4a4a4a;
}

/* Main */
body {
    background-color: black;
    position: relative;
}

/* Buttons for speaker view and resize window */

.window-btns {
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
}

.spkr {
    background-color: var(--grey);
    padding: 0.2em 0.5em 0.2em;
    border-radius: 0.3em;
    margin-right: 0.3em;
}

.fa-maximize {
    background-color: var(--grey);
    padding: 0.2em 0.2em 0.2em;
    border-radius: 0.3em;
}

/*Videocall area */

.videocall {
    width: 100%;
    height: 100vh;
    padding: 50px 50px 100px;
    /* margin-bottom: 100px; */
    display: flex;
    flex-wrap: wrap;
}

.user {
    background-image: url(https://picsum.photos/200/300);
    height: 12vh;
    aspect-ratio: 16/9;
    margin: 1em 1em 1em;
    position: relative;
}

.info {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: var(--grey);
    padding: 0.3em 0.3em 0.3em;
}

/* Buttons area */

.call-bts {
    width: 100vw;
    height: 80px;
    background-color: var(--back);
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
}

nav > div {
    height: 100%;
    display: flex;
}

/* Buttons */

.btn {
    height: 100%;
    width: 80px;
    /* background-color: red; */
    color: white;
    position: relative;
}

.btn-large {
    width: 120px;
}

.btn-xl {
    width: 150px;
}

/* Icons */

.btn .icon {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-80%);
    font-size: 2em;
}

.btn-large .icon {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-80%);
    font-size: 2em;
}

.btn-xl .icon {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-80%);
    font-size: 2em;
}

.green {
    color: var(--green);
}

.fa-chevron-up {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-80%);
}

/*Texts and backgrounds */

nav span {
    position: absolute;
    bottom: 5%;
    left: 10%;
    /* transform: translate(0%); */
}

.close-call {
    background-color: var(--grey);
}

.close-call span {
    color: var(--red);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
